This is an example env file, rename it to .env and delete this text to allow
the server to read from it.

PORT=3000
CLIENT_ORIGIN=http://localhost:5173
VITE_SERVER_URL=http://localhost:3000
GAME_TIME=300
BREAK_TIME=30
RESPAWN_TIME=10
SCORE_TO_WIN=20